
        .navbar {
            padding: 15px;
        }

        .user{
          border: #C3C4C5 2px solid;
          border-radius: 8px;
          padding: 8px;
        }

        img {
            margin-right: 8px;
        }

        h5 {
            font-size: 28px;
        }
